

.fieldclass {
  margin-left: 1rem;
}

.button-style {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;
  right: 2%;
}

.card-header {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  display: flex;
  padding: 0;
  align-items: center;
  flex-direction: row-reverse;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  .mat-form-field {
    width: 48%;
    margin-right: 2%;
  }
}

@media (max-width: 599px) {
  .mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
}

.confirmation-message{
  text-align: center;

}

.card-header .flex-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.confirmation-image{
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.image-container{
  overflow: hidden;
}

.button-position-right{
  display: flex;
  justify-content: space-between;
  text-align: end;
  flex-direction: row-reverse;
}

.button-position-middle{
  display: flex;
  text-align: end;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.button-position-left{
  display: flex;
  justify-content: left;
  text-align: start;
}

.card-header .flex-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  height: 50px;
  padding: 10px;
}

.mat-icon{
  color: white;
}

.button-label{
  color: white;
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.button-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

::ng-deep .button-container .p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 10%;
    justify-content: space-around;
}

::ng-deep .p-steps ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  padding-bottom: 7%;
}

::ng-deep .p-card .p-card-body {
  padding: 7.25rem;
}


