<div class="main-container">
  <p-card header="Reset Password">
    <div class="stepper-contents">
      <p-steps class="steps" [model]="steps" [(activeIndex)]="activeStep"></p-steps>
      <div *ngIf="activeStep === 0">
        <form [formGroup]="emailForm">
          <div  style="padding-bottom: 3%; display: flex; flex-direction: column; align-items: center;" 
                class="flex align-items-center gap-3 mb-3 address grid-item padding-left">
            <label for="address" class="font-semibold w-6rem">Email*</label>
            <input formControlName="emCtrl" pInputText id="email" class="flex-auto" autocomplete="off"               
            [pTooltip]="emailForm.get('emCtrl')?.invalid && (emailForm.get('emCtrl')?.dirty || emailForm.get('emCtrl')?.touched) ? invalidEmail : ''"
            tooltipPosition="right"/>
            </div>
            <div class="button-container container-button" *ngIf="activeStep === 0">
              <button pButton type="button" [disabled]="emailForm.invalid" label="Next" (click)="sendEmailVerification();"></button>
            </div>
        </form>
      </div>

      <div *ngIf="activeStep === 1">
        <form [formGroup]="verificationForm">
          <div style="display: flex;
          flex-direction: column;
          align-items: center;" class="flex align-items-center gap-3 mb-3 address grid-item padding-left">
          <label for="address" class="font-semibold w-6rem">Verification Code*</label>
          <p-inputOtp 
          [(ngModel)]="verificationCode" 
          [length]="8" 
          formControlName="pwCtrl" 
          [pTooltip]="verificationForm.get('pwCtrl')?.invalid && (verificationForm.get('pwCtrl')?.dirty || verificationForm.get('pwCtrl')?.touched) ? invalidPassword : ''"
          tooltipPosition="right"/>
        </div>
        </form>
      </div>
      <div class="button-container container-button" *ngIf="activeStep === 1">
        <button pButton type="button" label="Next" (click)="verifyEmail()"></button>
      </div>
    </div>

    <div *ngIf="activeStep === 2">
      <form [formGroup]="newPasswordForm">
        <div>
        <div  style="padding-bottom: 3%; display: flex; flex-direction: column; align-items: center;" 
                class="flex align-items-center gap-3 mb-3 address grid-item padding-left">
            <label for="address" class="font-semibold w-6rem">New Password*</label>
        <p-password formControlName="pwCtrl" 
                    [feedback]="false" 
                    [toggleMask]="true"
                    [pTooltip]="newPasswordForm.get('pwCtrl')?.invalid && (newPasswordForm.get('pwCtrl')?.dirty || newPasswordForm.get('pwCtrl')?.touched) ? invalidPassword : ''"
                    />
        </div>
        <div  style="padding-bottom: 3%; display: flex; flex-direction: column; align-items: center;" 
        class="flex align-items-center gap-3 mb-3 address grid-item padding-left">
        <label for="address" class="font-semibold w-6rem">Confirm Password*</label>
        <p-password formControlName="cpwCtrl" 
            [feedback]="false" 
            [toggleMask]="true"
            [pTooltip]="newPasswordForm.get('cpwCtrl')?.invalid && (newPasswordForm.get('cpwCtrl')?.dirty || newPasswordForm.get('cpwCtrl')?.touched) ? invalidPassword : ''"
            />
      </div>
      <div class="button-container container-button" *ngIf="activeStep === 2">
        <button pButton type="button" label="Save" (click)="resetPassword()"></button>
      </div>
      </div>
      </form>
    </div>

  </p-card>

</div>