.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  button {
    width: 90px;
    height: 75px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #E55050;
    border: none !important;
  }