/* Main Container */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    width: 100%;
    height: 100vh;
}

/* Left Section */
.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.left-container img {
    max-width: 80%;
    height: auto;
}

/* Right Section */
.right-container {
    background-color: #E55050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

/* Fullscreen Icon */
.fullscreen {
    position: absolute;
    top: 10px;
    right: 10px;
}

.fullscreen i {
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

/* Login Form */
.login-form {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 8px;
}

/* Headings */
h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

h2.h2-style {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: normal;
}

form {
    width: 80%;
}

/* Form Fields */
.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

/* .email-input {
    padding: 4%;
} */

::ng-deep .p-password, .p-password-input {
    width: 100%;
}

::ng-deep .p-password .p-inputtext {
    width: 100%;
}

/* Input Styling */
.input-group input, 
p-password {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: white;
    color: black;
}

/* Button */
.button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .left-container {
        display: none; /* Hide left container on smaller screens */
    }

    .right-container {
        width: 100%;
        padding: 40px 20px;
    }

    form {
        width: 100%;
    }
}
