.calculator {
    width: 25rem;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .display {
    background-color: #222;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .buttons button {
    width: 90px;
    height: 49px;
    margin: 5px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
  }
  
  .buttons button:active {
    background-color: #ccc;
  }