button{
  background-color: #1E6602;
  color: white;
  display: block;
  margin: auto;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  color: #000000;
  padding-top: 3%;
}

::ng-deep .p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #ffffff;
  color: #374151;
  padding: 0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

h3,h1{
  text-align: center;
  font-weight: normal;
}

/* Styles for the image container */
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

/* Styles for the confirmation image */
.confirmation-image {
  max-width: 140px; /* Adjust the size as needed */
  height: auto;
}
